* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 75px;
  width: 100%;
  background-color: yellow;

  @media (min-width: 768px) {
    height: 100px;
    background-color: pink;
  }
}

.main_principal {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.main_secondary {
  width: 100%;
  background-color: rosybrown;

  &--button {
    height: 45px;
    background-color: red;
    border-radius: 5px;

    @media (min-width: 768px) {
      background-color: purple;
    }
  }

  @media (min-width: 768px) {
    background-color: green;
  }
}
