.title {
  line-height: 2em;
  text-align: center;
  height: 2em;
  background-color: darkmagenta;
  color: white;
}

.subtitle {
  text-align: center;
}

.list {
  margin-left: 2em;
  list-style-type: none;

  .item {
    line-height: 1.5em;
  }
}
