* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.div1 {
  height: 500px;
  width: 500px;
  background-color: yellow;
  border: 2px solid;
  padding: 40px;
}
.div2 {
  height: 300px;
  width: 300px;
  background-color: green;
  padding: 75px;
}

.div3 {
  height: 150px;
  width: 150px;
  background-color: blue;
  border: 20px dotted;
}

.div1,
.div2,
.div3 {
  position: absolute;
}
