.container {
  height: 100vh;
  width: 100%;
  background-image: url("https://img.freepik.com/foto-gratis/atardecer-colorido-amarillo-sol-dramatica_1203-5704.jpg?w=900");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &_text {
    font-size: 4.5rem;
    color: rgb(214, 170, 116);
    animation-name: texto;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
}

@keyframes texto {
  from {
    transform: translate(0px, -550px);
    // transform: scale(3);
    opacity: 0;
  }
  to {
    // transform: scale(1);
    opacity: 3;
  }
}
