* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }
}
body {
  width: 100vw;
  background-color: rgb(75, 73, 73);
  @media all and (max-width: 768px) {
    width: 50vh;
  }
}

.characters {
  display: grid;
  margin: 0 auto;
  padding: 30px 28px;
  grid-gap: 30px;
  align-items: stretch;
  width: 100vw;
  justify-items: center;

  @media all and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  width: 300px;
  height: 300px;
  list-style: none;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0px 3px 3px 3px rgba(163, 162, 162, 0.855);
  }
  &_img {
    display: block;
    object-fit: contain;
    margin: auto;
    width: 200px;
    height: 250px;
  }
  &_title {
    font-size: 1.5rem;
    color: rgba(207, 206, 206, 0.855);
    text-align: center;
  }
}

.card,
.detail {
  display: block;
  transition: transform 0.3s cubic-bezier(0.374, 0.019, 0.035, 1.861);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgb(14, 14, 14) 0%,
    rgba(96, 96, 96, 1) 35%,
    rgba(156, 156, 156, 1) 100%
  );
  border-radius: 4px;
  box-shadow: 0 6px 6px 3px rgba(253, 253, 253, 0.1);
}
.detail {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 5px;
  position: relative;
  bottom: 40px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: rgba(249, 245, 245, 0.855);

  &_title {
    font-size: 1.5rem;
    color: rgba(207, 206, 206, 0.855);
    padding-bottom: 50px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}
