.header {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  a > &__img {
    background-image: url(../images/logo.png);
    width: 100vw;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 30px;
    background-position-x: center;
    @media all and (max-width: 768px) {
      width: 90vw;
    }
  }
}
