.header {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  a > &__img {
    background-image: url(../images/logo.png);
    width: 100vw;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 30px;
    background-position-x: center;
    @media all and (max-width: 768px) {
      width: 90vw;
    }
  }
}

.select {
  &_title {
    font-size: 1.5rem;
    color: rgba(207, 206, 206, 0.855);
    padding-right: 5px;
  }
  &_options {
    height: 30px;
    width: 150px;
    border-radius: 8px;
    background-color: rgb(189, 186, 186);
    color: rgba(24, 23, 23, 0.855);
    font-weight: bold;
  }
}
.input {
  margin-right: 15px;
}
