* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header_title {
  height: 60px;
  background-color: grey;
  color: black;
  font-weight: bold;
}
.nav {
  background-color: green;
}
main {
  background-color: yellow;
}
main h2 {
  margin-bottom: 1.5em;
}
/* 
.footer {
  background-color: rgb(212, 172, 172);
  padding-top: 0.62em;
  padding-bottom: 0.62em;
} */

.footer {
  background-color: grey;
}

@media (min-width: 480px) {
  .square {
    height: 80px;
    width: 80px;
    background-color: orange;
    position: absolute;
    right: 0px;
  }
  main {
    display: flex;
    flex-direction: row;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .content_media {
    display: flex;
    flex-direction: row;
  }
}
