* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  background-color: bisque;
  border: 2px solid palevioletred;
  height: 100px;
  width: 200px;
}
