.box {
  height: 80px;
  background-color: bisque;
  border: 1px solid brown;
}

.cat-1 {
  background-color: beige;
}

.cat-2 {
  background-color: orange;
}

.cat-3 {
  background-color: rgb(202, 108, 108);
}

.cat-4 {
  background-color: rgb(120, 245, 168);
}
