.main {
  background-color: var(--background-color);
  height: 100vh;
  font-family: sans-serif;
  color: var(--text-color-title);
  font-size: 1.875rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Media  */

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  }
  .logo {
    margin: 20px 0;
  }
  .main {
    font-size: 2.5rem;
  }
}
