* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.archivo {
  border-bottom: 1px solid black;
  width: 100vw;
}
.pdf {
  background-color: red;
  color: white;
  display: inline;
}
.div1 {
  display: flex;
  flex-direction: row;
}
.div2 {
  text-align: center;
}
